.verticalNav {
    position: fixed;
    height: 100%;
    left: 0;
    width: 0;
    width: auto;
}

.verticalNav .bar {
    background-color: var(--backgrounNVcolor);
    color: var(--fontColorNV);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.26);
    border-radius: var(--radiusNV);
    margin: 0;
    padding: 0;
    width: var(--widthNV);
}

.verticalNav.slim-n {
    --widthNV: 58px;
    --headsize: 100px;
    --radiusNV: 10px;
    --NVactivedesp: 5px;
    --NVbtnpos: 5px;
    --iconpositionvertical: 40%;
    --userimagesize: 70%;
    --NVfontsize: 10px;
}

.verticalNav.white-n {
    --backgrounNVcolor: white;
    --fontColorNV: black;
    --hoverbtncolor: rgb(201, 201, 201);
    --activebtncolor: rgb(168, 168, 168);
    --btniconshadow: rgba(0, 0, 0, 0.068);
}

.verticalNav.white-n {
    --backgrounNVcolor: white;
    --fontColorNV: black;
}

.verticalNav .bar .vnv-head {
    width: 100%;
    background-color: inherit;
    height: var(--headsize);
    border-top-left-radius: var(--radiusNV);
    border-top-right-radius: var(--radiusNV);
    padding-top: calc((100% - var(--userimagesize)) / 2);
}

.verticalNav .bar .vnv-head .userImage {
    position: relative;
    width: var(--userimagesize);
    height: 0;
    padding-top: var(--userimagesize);
    background-color: rgb(0, 255, 13);
    margin: 0 calc((100% - var(--userimagesize)) / 2);
    border-radius: 50%;
    box-shadow: 0 0 0px 2px white, 0 0 0px 3px rgba(0, 0, 0, 0.534);
}

.verticalNav .bar .vnv-head .userImage img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.verticalNav .bar .vnv-head .NVusername {
    font-size: var(--NVfontsize);
    font-weight: bold;
    width: 80%;
    margin: 0 10%;
    margin-top: 25%;
    text-align: center;
    user-select: none;
}

.verticalNav .bar .vnv-btn {
    width: calc(100% - var(--NVbtnpos));
    margin: 0 0 0 var(--NVactivedesp);
    background-color: inherit;
    height: calc((100% - var(--headsize)) / var(--NVnumberbtns));
    border-top-left-radius: var(--radiusNV);
    border-bottom-left-radius: var(--radiusNV);
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.342);
    position: relative;
    padding-top: var(--iconpositionvertical);
    min-height: 75px;
    max-height: 150px;
}

.verticalNav .bar .vnv-btn:hover {
    background-color: var(--hoverbtncolor);
    transform: translateX(var(--NVactivedesp));
    border-top-right-radius: var(--NVactivedesp);
    border-bottom-right-radius: var(--NVactivedesp);
    transition: transform 200ms, border-radius 200ms;
}

.verticalNav .bar .vnv-btn:active {
    background-color: var(--activebtncolor);
}

.verticalNav .bar .vnv-btn.activeNV {
    background-color: var(--activebtncolor);
    transform: translateX(var(--NVactivedesp));
    border-top-right-radius: var(--NVactivedesp);
    border-bottom-right-radius: var(--NVactivedesp);
}

.verticalNav .bar .vnv-btn .NVicon {
    position: relative;
    width: 80%;
    height: 0;
    margin: 0 10%;
    padding-top: 80%;
    background-color: var(--btniconshadow);
    border-radius: 50%;
    box-shadow: 0 0 5px 1pxvar(--btniconshadow);
}

.verticalNav .bar .vnv-btn .NVicon img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.verticalNav .bar .vnv-btn .NVbtntext {
    color: var(--fontColorNV);
    font-size: var(--NVfontsize);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25%;
    display: block;
    user-select: none;
}

@media (max-height: 610px) {
    .verticalNav .bar .vnv-btn .NVbtntext {
        display: none;
    }
}