<img class="backgroundElement b1" src="assets/icons/chefs-hat.png" alt="">
<img class="backgroundElement b2" src="assets/icons/chefs-hat.png" alt="">

<div id="loginContainer" class="container justify-content-center center-component-login">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-9">
            <div class="text-center">
                <img class="logo" src="assets/img/Logo.png" alt="">
            </div>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div style="margin-top:10%"></div>


                                <app-forget-email *ngIf="email"></app-forget-email>
                                <app-forget-restore-token *ngIf="token"></app-forget-restore-token>
                                <app-forget-update *ngIf="update"></app-forget-update>
                                <hr>

                                <div class="text-center text-color ">
                                    <a mat-flat-button [routerLink]="[ '/signin' ] ">¿Ya tienes cuenta? Iniciar sesión aqui</a>
                                </div>
                                <br>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>